# Ignore intermediate LaTeX files
**/*.aux
**/*.b*
**/*.g*
**/*.ist
**/*.log
**/*.out
**/*.p*
**/*.t*
**/*.dvi
**/.DS_Store
**/*~
**/*.el
**/*.bib.sav
**/*.bib.bak
**/*.nav
**/*.snm
**/*.vrb
**/*.lof
**/*.lot
**/*.rel
**/*.run.xml
**/*.acn
**/*.acr
**/*.alg
**/*.mat

**/*.fdb_latexmk
**/*.fls

**/.cabal-sandbox/*
**/cabal.sandbox.config
**/--*/*
*.html



# Except these files
!.gitignore
!**/*.tex
!**/*.bib
!**/*.hs
!**/*.py
!**/*.png
!**/*.jpeg
!**/*.pdf
!**/*.babel
!**/*.bst
